body {
    font-family: Arial, Helvetica, sans-serif
}

header {
    text-align: center;
    text-transform: uppercase;
    background-color: bisque;
    padding: 10px;
    box-shadow: 1px 1px 7px gray;
}

.about {
    font-size: 25px;
    text-decoration: underline;
    text-indent: 50px;
}

.workshops h2 {
    text-transform: capitalize;
    text-shadow: 2px 2px 5px seagreen;
    color: #4CAF50
}

.workshops p {
    text-indent: 50px;
    font-size: 20px;
}

.contact {
    text-align: center;
    padding: 10px;
    color: #333333;
    transform: rotate(9deg)
}

.contact a {
    font-weight: bold;
    text-decoration: none;
    color: #4CAF50
}

.contact a:hover {
    text-shadow: 1px 1px 4px rgb(144, 205, 202)
}