body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    color: antiquewhite
}

h1 {
    color: rgb(126, 126, 227)
}

/* advanced selector:child-selector */
ul>li {
    font-weight: bold;
}

/* advanced selector: sibling-selector */
h2+p {
    background-color: grey;
}

/*Pseudoclass :hover*/
ul li:hover {
    color: grey
}

/*Pseudoclass :nth-child*/
ul li:nth-child(3) {
    background-color: rgb(143, 106, 178)
}

/* Pseudoclass: first-letter */
p::first-letter {
    font-size: 30px
}

ul {
    list-style-type: none;
}

/* Pseudoclass: before */
ul li:before {
    content: "🚀"
}

a::after {
    content: "🛥️"
}