body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: rgb(180, 162, 197);
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    margin-right: 10px;
}

main {
    margin-top: 90px;
    padding: 20px;
}

.hero {
    background: linear-gradient(90deg, rgb(134, 111, 219), rgb(104, 55, 157), rgb(34, 1, 80));
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position : relative; */
    /* left:20px; */
    padding: 20px;
}

.hero h2 {
    font-size: 2.5em;
}

.content_box {
    position: relative;
    background-color: aliceblue;
    padding: 20px;
    top: 20px;
}

.content_box ol {
    position: absolute;
    left: -10px;
}

footer {
    margin-top: 200px;
    padding: 20px;
    width: 100%;
    text-align: center;
    background-color: rgb(210, 174, 243);
    position: sticky;
    bottom: 0;
}