/* UNIVERSAL SELECTOR */
* {
    font-family: cursive
}

/* ELEMENT */
h3 {
    color: burlywood;
    font-style: italic;
}

/* CLASS SELECTOR */
.myclass {
    color: rgb(194, 137, 31);
    font-size: 20px
}

/* ID SELECTOR */
#myid {
    font-weight: bolder;
    color: red;
}

/* group selector */
a,
button {
    color: red;
    background-color: aquamarine;
}